In [1]:
import pandas as pd
import random

In [2]:
# Constants
REGION = ["region_1", "region_2", "region_3", "region_4"]
MONTH = ["January","February","March","April","May","June","July","August","September","October","November","December"]
SIZE = 30

In [3]:
a = [[0.205, 0.240], [0.257, 0.245], [0.203, 0.225],[0.189,0.204]]
b = [[0.477,0.427], [0.439,0.452], [0.5, 0.461], [0.491, 0.467]]

a_avg = [(x[0]+x[1])/2 for x in a]
b_avg = [(x[0]+x[1])/2 for x in b]

print(a_avg)
print(b_avg)

[0.22249999999999998, 0.251, 0.21400000000000002, 0.1965]
[0.45199999999999996, 0.4455, 0.48050000000000004, 0.479]

In [4]:
# Region wise constant (a,b)
a_b_final = {
    REGION[0]: [a_avg[0], b_avg[0]],
    REGION[1]: [a_avg[1], b_avg[1]],
    REGION[2]: [a_avg[2], b_avg[2]],
    REGION[3]: [a_avg[3], b_avg[3]]
}

print(a_b_final)

{'region_1': [0.22249999999999998, 0.45199999999999996], 'region_2': [0.251, 0.4455], 'region_3': [0.21400000000000002, 0.48050000000000004], 'region_4': [0.1965, 0.479]}

In [5]:
# x = S/S0

In [6]:
x = {
    MONTH[0]: {
        REGION[0]: [0.526,0.584],
        REGION[1]: [0.394,0.479],
        REGION[2]: [0.394,0.479],
        REGION[3]: [0.471,0.544],
    },
    MONTH[1]: {
        REGION[0]: [0.584,0.606],
        REGION[1]: [0.479,0.510],
        REGION[2]: [0.479,0.510],
        REGION[3]: [0.544,0.580],
    },
    MONTH[2]: {
        REGION[0]: [0.606,0.631],
        REGION[1]: [0.510,0.551],
        REGION[2]: [0.510,0.551],
        REGION[3]: [0.580,0.625],
    },
    MONTH[3]: {
        REGION[0]: [0.631,0.708],
        REGION[1]: [0.551,0.615],
        REGION[2]: [0.551,0.615],
        REGION[3]: [0.625,0.710],
    },
    MONTH[4]: {
        REGION[0]: [0.708,0.808],
        REGION[1]: [0.615,0.711],
        REGION[2]: [0.615,0.711],
        REGION[3]: [0.710,0.802],
    },
    MONTH[5]: {
        REGION[0]: [0.808,0.834],
        REGION[1]: [0.711,0.765],
        REGION[2]: [0.711,0.765],
        REGION[3]: [0.802,0.823],
    },
    MONTH[6]: {
        REGION[0]: [0.834,0.845],
        REGION[1]: [0.765,0.788],
        REGION[2]: [0.765,0.788],
        REGION[3]: [0.823,0.828],
    },
    MONTH[7]: {
        REGION[0]: [0.845,0.813],
        REGION[1]: [0.788,0.755],
        REGION[2]: [0.788,0.755],
        REGION[3]: [0.828,0.822],
    },    
    MONTH[8]: {
        REGION[0]: [0.813,0.714],
        REGION[1]: [0.755,0.624],
        REGION[2]: [0.755,0.624],
        REGION[3]: [0.822,0.709],
    },    
    MONTH[9]: {
        REGION[0]: [0.714,0.603],
        REGION[1]: [0.624,0.508],
        REGION[2]: [0.624,0.508],
        REGION[3]: [0.709,0.599],
    },    
    MONTH[10]: {
        REGION[0]: [0.603,0.493],
        REGION[1]: [0.508,0.357],
        REGION[2]: [0.508,0.357],
        REGION[3]: [0.599,0.461],
    },
    MONTH[11]: {
        REGION[0]: [0.493,0.480],
        REGION[1]: [0.357,0.340],
        REGION[2]: [0.357,0.340],
        REGION[3]: [0.461,0.440],
    }
}

print(x)

{'January': {'region_1': [0.526, 0.584], 'region_2': [0.394, 0.479], 'region_3': [0.394, 0.479], 'region_4': [0.471, 0.544]}, 'February': {'region_1': [0.584, 0.606], 'region_2': [0.479, 0.51], 'region_3': [0.479, 0.51], 'region_4': [0.544, 0.58]}, 'March': {'region_1': [0.606, 0.631], 'region_2': [0.51, 0.551], 'region_3': [0.51, 0.551], 'region_4': [0.58, 0.625]}, 'April': {'region_1': [0.631, 0.708], 'region_2': [0.551, 0.615], 'region_3': [0.551, 0.615], 'region_4': [0.625, 0.71]}, 'May': {'region_1': [0.708, 0.808], 'region_2': [0.615, 0.711], 'region_3': [0.615, 0.711], 'region_4': [0.71, 0.802]}, 'June': {'region_1': [0.808, 0.834], 'region_2': [0.711, 0.765], 'region_3': [0.711, 0.765], 'region_4': [0.802, 0.823]}, 'July': {'region_1': [0.834, 0.845], 'region_2': [0.765, 0.788], 'region_3': [0.765, 0.788], 'region_4': [0.823, 0.828]}, 'August': {'region_1': [0.845, 0.813], 'region_2': [0.788, 0.755], 'region_3': [0.788, 0.755], 'region_4': [0.828, 0.822]}, 'September': {'region_1': [0.813, 0.714], 'region_2': [0.755, 0.624], 'region_3': [0.755, 0.624], 'region_4': [0.822, 0.709]}, 'October': {'region_1': [0.714, 0.603], 'region_2': [0.624, 0.508], 'region_3': [0.624, 0.508], 'region_4': [0.709, 0.599]}, 'November': {'region_1': [0.603, 0.493], 'region_2': [0.508, 0.357], 'region_3': [0.508, 0.357], 'region_4': [0.599, 0.461]}, 'December': {'region_1': [0.493, 0.48], 'region_2': [0.357, 0.34], 'region_3': [0.357, 0.34], 'region_4': [0.461, 0.44]}}

In [7]:
def solve_equation(x):
    solutions = []
    for month in MONTH:
        x_month = x[month]
        sols = [{"month": month} for x in range(0,SIZE)]
        for region in REGION:
            a = a_b_final[region][0];
            b = a_b_final[region][1];
            x_range = x_month[region];
            mini = min(x_range[0], x_range[1]);
            maxi = max(x_range[0], x_range[1]);
            diff = (maxi-mini)/SIZE;
            i = 0;
            while i<SIZE:
                random_num = random.uniform(-diff*0.05, diff*0.05);
                mini = mini + random_num;
                sols[i][region+"_x"] = mini;
                sols[i][region+"_y"] = a+b*mini;
                mini+=diff;
                i+=1;
        for item in sols:
            solutions.append(item);
    return solutions

In [8]:
df = pd.DataFrame(solve_equation(x))
df

,month,region_1_x,region_1_y,region_2_x,region_2_y,region_3_x,region_3_y,region_4_x,region_4_y
0,January,0.525997,0.460250,0.393888,0.426477,0.393976,0.403306,0.471060,0.422138
1,January,0.527955,0.461136,0.396683,0.427722,0.396757,0.404642,0.473486,0.423300
2,January,0.529857,0.461995,0.399400,0.428932,0.399457,0.405939,0.475915,0.424463
3,January,0.531871,0.462905,0.402146,0.430156,0.402362,0.407335,0.478352,0.425630
4,January,0.533860,0.463805,0.404970,0.431414,0.405077,0.408639,0.480744,0.426777
...,...,...,...,...,...,...,...,...,...
355,December,0.490898,0.444386,0.353956,0.408687,0.354334,0.384257,0.457353,0.415572
356,December,0.491332,0.444582,0.354503,0.408931,0.354890,0.384525,0.458042,0.415902
357,December,0.491778,0.444783,0.355053,0.409176,0.355445,0.384791,0.458722,0.416228
358,December,0.492206,0.444977,0.355624,0.409431,0.355995,0.385056,0.459416,0.416560
359,December,0.492652,0.445179,0.356218,0.409695,0.356551,0.385323,0.460096,0.416886

In [9]:
df.to_csv("training_data.csv", index=False)