In [1]:
import pandas as pd

In [2]:
# pandas allows us to work with large amount of data
# lot easier to deal with csv

In [3]:
df = pd.read_csv("pokemon_data.csv")

In [4]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [5]:
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [6]:
df.tail(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [7]:
df_xlsx = pd.read_excel("pokemon_data.xlsx")
df_txt = pd.read_csv("pokemon_data.txt", delimiter="\t")

df_xlsx

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [8]:
df_txt

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [9]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [10]:
df['Name'][0:100:4]

0                     Bulbasaur
4                    Charmander
8     CharizardMega Charizard Y
12      BlastoiseMega Blastoise
16                       Weedle
20                       Pidgey
24                      Rattata
28                        Ekans
32                    Sandshrew
36                    Nidoqueen
40                     Clefairy
44                   Jigglypuff
48                       Oddish
52                     Parasect
56                      Dugtrio
60                      Golduck
64                     Arcanine
68                         Abra
72                       Machop
76                   Weepinbell
80                      Geodude
84                     Rapidash
88                    Magnemite
92                       Dodrio
96                          Muk
Name: Name, dtype: object

In [11]:
df[['Name','Type 1']][2:45]

                         Name    Type 1
2                    Venusaur     Grass
3       VenusaurMega Venusaur     Grass
4                  Charmander      Fire
5                  Charmeleon      Fire
6                   Charizard      Fire
7   CharizardMega Charizard X      Fire
8   CharizardMega Charizard Y      Fire
9                    Squirtle     Water
10                  Wartortle     Water
11                  Blastoise     Water
12    BlastoiseMega Blastoise     Water
13                   Caterpie       Bug
14                    Metapod       Bug
15                 Butterfree       Bug
16                     Weedle       Bug
17                     Kakuna       Bug
18                   Beedrill       Bug
19      BeedrillMega Beedrill       Bug
20                     Pidgey    Normal
21                  Pidgeotto    Normal
22                    Pidgeot    Normal
23        PidgeotMega Pidgeot    Normal
24                    Rattata    Normal
25                   Raticate    Normal
26                    Spearow    Normal
27                     Fearow    Normal
28                      Ekans    Poison
29                      Arbok    Poison
30                    Pikachu  Electric
31                     Raichu  Electric
32                  Sandshrew    Ground
33                  Sandslash    Ground
34           Nidoran (Female)    Poison
35                   Nidorina    Poison
36                  Nidoqueen    Poison
37             Nidoran (Male)    Poison
38                   Nidorino    Poison
39                   Nidoking    Poison
40                   Clefairy     Fairy
41                   Clefable     Fairy
42                     Vulpix      Fire
43                  Ninetales      Fire
44                 Jigglypuff    Normal

In [12]:
df.iloc[4:8]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False

In [13]:
df.iloc[[4,6,89,97],3:7]

    Type 2  HP  Attack  Defense
4      NaN  39      52       43
6   Flying  78      84       78
89   Steel  50      60       95
97     NaN  30      65      100

In [14]:
df.iloc[1,2]

'Grass'

In [15]:
# df.loc --> finding specific data on dataset which is more textual based
df.loc[df['Type 1']=="Fire"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [16]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [17]:
df.sort_values('Name', ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [18]:
df.sort_values(['Type 1','HP'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
462,415,Combee,Bug,Flying,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,30,45,59,30,39,57,5,False
314,290,Nincada,Bug,Ground,31,45,90,30,30,40,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False

In [19]:
df['Total'] = df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Speed']+df['Sp. Def']

In [20]:
df['Total']

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 800, dtype: int64

In [21]:
df = df.drop(columns = ['Total'])

In [22]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [23]:
df['Total'] = df.iloc[:,4:10].sum(axis=1)

In [24]:
df['Total']

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 800, dtype: int64

In [25]:
df.to_csv('modified.csv',index=False)
df.to_excel('modified.xlsx', index=False)
df.to_csv('modified.txt', index=False, sep='\t')

In [26]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]

In [27]:
new_df.reset_index(drop=True,inplace=True)

In [28]:
new_df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,320

In [29]:
new_df = df.loc[~df['Name'].str.contains("Mega")]

In [30]:
new_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [31]:
df.loc[df['Type 1']=='Fire','Type 1'] = 'Flamer'

In [32]:
df.loc[df['Type 1']=='Flamer']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Flamer,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Flamer,Flying,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Flamer,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Flamer,Flying,78,104,78,159,115,100,1,False,634
42,37,Vulpix,Flamer,NaN,38,41,40,50,65,65,1,False,299
43,38,Ninetales,Flamer,NaN,73,76,75,81,100,100,1,False,505
63,58,Growlithe,Flamer,NaN,55,70,45,70,50,60,1,False,350
64,59,Arcanine,Flamer,NaN,90,110,80,100,80,95,1,False,555
83,77,Ponyta,Flamer,NaN,50,85,55,65,65,90,1,False,410
84,78,Rapidash,Flamer,NaN,65,100,70,80,80,105,1,False,500
135,126,Magmar,Flamer,NaN,65,95,57,100,85,93,1,False,495
147,136,Flareon,Flamer,NaN,65,130,60,95,110,65,1,False,525
158,146,Moltres,Flamer,Flying,90,100,90,125,85,90,1,True,580
169,155,Cyndaquil,Flamer,NaN,39,52,43,60,50,65,2,False,309
170,156,Quilava,Flamer,NaN,58,64,58,80,65,80,2,False,405
171,157,Typhlosion,Flamer,NaN,78,84,78,109,85,100,2,False,534
236,218,Slugma,Flamer,NaN,40,40,40,70,40,20,2,False,250
237,219,Magcargo,Flamer,Rock,50,50,120,80,80,30,2,False,410
259,240,Magby,Flamer,NaN,45,75,37,70,55,83,2,False,365
263,244,Entei,Flamer,NaN,115,115,85,90,75,100,2,True,580
270,250,Ho-oh,Flamer,Flying,106,130,90,110,154,90,2,True,680
276,255,Torchic,Flamer,NaN,45,60,40,70,50,45,3,False,310
277,256,Combusken,Flamer,Fighting,60,85,60,85,60,55,3,False,405
278,257,Blaziken,Flamer,Fighting,80,120,70,110,70,80,3,False,530
279,257,BlazikenMega Blaziken,Flamer,Fighting,80,160,80,130,80,100,3,False,630
352,322,Numel,Flamer,Ground,60,60,40,65,45,35,3,False,305
353,323,Camerupt,Flamer,Ground,70,100,70,105,75,40,3,False,460
354,323,CameruptMega Camerupt,Flamer,Ground,70,120,100,145,105,20,3,False,560
355,324,Torkoal,Flamer,NaN,70,85,140,85,70,20,3,False,470
435,390,Chimchar,Flamer,NaN,44,58,44,58,44,61,4,False,309
436,391,Monferno,Flamer,Fighting,64,78,52,78,52,81,4,False,405
437,392,Infernape,Flamer,Fighting,76,104,71,104,71,108,4,False,534
518,467,Magmortar,Flamer,NaN,75,95,67,125,95,83,4,False,540
542,485,Heatran,Flamer,Steel,91,90,106,130,106,77,4,True,600
557,498,Tepig,Flamer,NaN,65,63,45,45,45,45,5,False,308
558,499,Pignite,Flamer,Fighting,90,93,55,70,55,55,5,False,418
559,500,Emboar,Flamer,Fighting,110,123,65,100,65,65,5,False,528
572,513,Pansear,Flamer,NaN,50,53,48,53,48,64,5,False,316
573,514,Simisear,Flamer,NaN,75,98,63,98,63,101,5,False,498
614,554,Darumaka,Flamer,NaN,70,90,45,15,45,50,5,False,315
615,555,DarmanitanStandard Mode,Flamer,NaN,105,140,55,30,55,95,5,False,480
616,555,DarmanitanZen Mode,Flamer,Psychic,105,30,105,140,105,55,5,False,540
692,631,Heatmor,Flamer,NaN,85,97,66,105,66,65,5,False,484
721,653,Fennekin,Flamer,NaN,40,45,40,62,60,60,6,False,307
722,654,Braixen,Flamer,NaN,59,59,58,90,70,73,6,False,409
723,655,Delphox,Flamer,Psychic,75,69,72,114,100,104,6,False,534
730,662,Fletchinder,Flamer,Flying,62,73,55,56,52,84,6,False,382
731,663,Talonflame,Flamer,Flying,78,81,71,74,69,126,6,False,499
735,667,Litleo,Flamer,Normal,62,50,58,73,54,72,6,False,369
736,668,Pyroar,Flamer,Normal,86,68,72,109,66,106,6,False,507
799,721,Volcanion,Flamer,Water,80,110,120,130,90,70,6,True,600

In [33]:
# df.loc[df['Total']>500,['Generation', 'Legendary']] = ['Test 1','Test 2']

In [34]:
# df

In [35]:
df['Type 1'].isna().unique()

array([False])

In [36]:
df.groupby(['Type 1']).mean(numeric_only=True).sort_values('Attack', ascending=False)
# .apply(lambda x: x)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,550.531250
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,416.444444
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,437.500000
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,453.750000
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,487.703704
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,445.741935
Flamer,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154,458.076923
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,485.000000
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,399.142857
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,430.455357
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,439.562500
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,401.683673
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,421.142857
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,433.458333
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614,475.947368
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,378.927536
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,443.409091
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,413.176471

In [37]:
df.groupby(['Type 1']).sum().sort_values('Attack', ascending=False)

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,,,
Water,33946,SquirtleWartortleBlastoiseBlastoiseMega Blasto...,FightingPoisonPoisonPsychicPsychicPsychicIceIc...,8071,8305,8170,8379,7898,7388,320,4,48211
Normal,31279,PidgeyPidgeottoPidgeotPidgeotMega PidgeotRatta...,FlyingFlyingFlyingFlyingFlyingFlyingFairyFairy...,7573,7200,5865,5470,6245,7012,299,2,39365
Grass,24141,BulbasaurIvysaurVenusaurVenusaurMega VenusaurO...,PoisonPoisonPoisonPoisonPoisonPoisonPoisonPois...,4709,5125,4956,5425,4930,4335,235,3,29480
Bug,23080,CaterpieMetapodButterfreeWeedleKakunaBeedrillB...,FlyingPoisonPoisonPoisonPoisonGrassGrassPoison...,3925,4897,4880,3717,4471,4256,222,0,26146
Flamer,17025,CharmanderCharmeleonCharizardCharizardMega Cha...,FlyingDragonFlyingFlyingRockFlyingFightingFigh...,3635,4408,3524,4627,3755,3871,167,5,23820
Rock,17280,GeodudeGravelerGolemOnixOmanyteOmastarKabutoKa...,GroundGroundGroundGroundWaterWaterWaterWaterFl...,2876,4086,4435,2787,3321,2460,152,4,19965
Psychic,21706,AbraKadabraAlakazamAlakazamMega AlakazamDrowze...,FairyFightingFlyingFlyingFlyingGrassFairyFairy...,4026,4073,3858,5609,4918,4645,193,14,27129
Dragon,15180,DratiniDragonairDragoniteAltariaAltariaMega Al...,FlyingFlyingFairyFlyingFlyingPsychicPsychicPsy...,2666,3588,2764,3099,2843,2657,124,12,17617
Ground,11401,SandshrewSandslashDiglettDugtrioCuboneMarowakR...,RockRockFlyingDragonDragonPsychicPsychicFireRo...,2361,3064,2715,1807,2008,2045,101,4,14000
Electric,15994,PikachuRaichuMagnemiteMagnetonVoltorbElectrode...,SteelSteelFlyingDragonSteelGhostFireWaterIceFl...,2631,3040,2917,3961,3243,3718,144,4,19510
Dark,14302,UmbreonMurkrowSneaselHoundourHoundoomHoundoomM...,FlyingIceFireFireFireGhostGhostFlyingIceFighti...,2071,2740,2177,2314,2155,2361,125,2,13818
Fighting,9824,MankeyPrimeapeMachopMachokeMachampHitmonleeHit...,PsychicPsychicPsychicSteelSteelDarkFlying,1886,2613,1780,1434,1747,1784,91,0,11244
Steel,11957,SteelixSteelixMega SteelixSkarmoryMawileMawile...,GroundGroundFlyingFairyFairyRockRockRockPsychi...,1761,2503,3412,1823,2177,1492,104,4,13168
Ghost,15568,GastlyHaunterGengarGengarMega GengarMisdreavus...,PoisonPoisonPoisonPoisonFlyingFlyingDarkDragon...,2062,2361,2598,2539,2447,2059,134,2,14066
Poison,7050,EkansArbokNidoran (Female)NidorinaNidoqueenNid...,GroundGroundFlyingFlyingFlyingDarkDarkBugDarkF...,1883,2091,1927,1692,1803,1780,71,0,11176
Ice,10165,JynxArticunoSwinubPiloswineDelibirdSmoochumSno...,PsychicFlyingGroundGroundFlyingPsychicWaterWat...,1728,1746,1714,1861,1831,1523,85,2,10403
Fairy,7642,ClefairyClefableCleffaTogepiTogeticSnubbullGra...,FlyingFlying,1260,1046,1117,1335,1440,826,70,1,7024
Flying,2711,TornadusIncarnate FormeTornadusTherian FormeNo...,DragonDragon,283,315,265,377,290,410,22,2,1940

In [38]:
df['count'] = 1
df.groupby(['Type 1']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Flamer       52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [39]:
df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

In [40]:
new_df = pd.DataFrame(columns=df.columns)
new_df

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary, Total, count]
Index: []

In [41]:
# pd.read_csv('modified.csv', chunksize=5)